body, div {
    display: flex;
}
.cube{
    width:300px;
    height:300px;
    border:1px solid #000;
    background: yellow;
    margin: 100px;
}
.circle {
    width:300px;
    height:300px;
    border:1px solid #000;
    border-radius: 100%;
    background: blue;
    margin:100px;
}